/* Tout */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgba(69, 69, 69, 0.8);
}

/* body::-webkit-scrollbar { 
    width: 3px;
}
  
body::-webkit-scrollbar-track {
    background: rgb(146, 146, 146);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid green;
  }
*/
/* Nav BAr */
.navbar{
    position: absolute;
    padding: 20px 10px 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(69, 69, 69, 0.8);
    opacity: 1.0;
    backdrop-filter: blur(2px);
    opacity: 1;
}

.navbar a {
    color: rgb(255, 255, 255);
}

.navbar .logo {
    image-rendering: optimizeQuality;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;

}

.navbar .nav-links ul li {
    margin: 30px;
    font-size: 1.6em;
    font-weight: 600;

}


.navbar .nav-links ul li a:hover{
    text-decoration: overline;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

.active{
    border-top: solid 2px rgb(255, 255, 255);
}


.image-pres{
    display: flex;
    width: 100%;
    height: 70vh;
    background-image:url(wp238833-wallpaper-minecraft-hd.jpg);
    background-size: cover;

}
/* Section Home */
.contenu{
    list-style: lower-greek;
    padding: 30px 20px 30px 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(69, 69, 69, 0.8);
    font-weight: 600;
    font-size: x-large;
    color: white;

}

.p{
    padding: 1%;
    margin: 2%;
    height: 40vh;
    font-size: larger;
    font-weight: 600;
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow-y: scroll;
    
}

.container-image{
    margin: 2% 2% 2% 2%;
    display:flex;
    background-color: rgb(105, 105, 105);
    width:96% ;
    height: 100vh;
    border-radius:10px ;
    justify-content: space-between;
    align-items: center;
}

.Notch{
    display: grid;
    margin: 2% 2% 2% 2%;
    background-color:rgb(0, 0, 0);
    opacity: 1px;
    width:50% ;
    height: 90vh;
    z-index: 10;
    border-radius: 20px;
}

.Jeb_{
    display: grid;
    margin: 2% 2% 2% 2%;
    background-color:rgb(0, 0, 0);
    width:50% ;
    height: 90vh;
    z-index: 10;
    border-radius: 20px;
}

.img-minecraft-notch{
    display: grid;
    margin: 2% 2% 2% 2%;
    background-image: url(R.jpeg);
    width:96% ;
    height: 40vh;
    z-index: 10;
    border-radius: 20px;
    background-size: cover;
}

.img-minecraft-notch span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: xx-large;
    font-weight: 800;

}

.img-minecraft-notch:hover span{
    color: wheat;
    cursor: pointer;
}

.text-pres-notch{
    padding: 1%;
    margin: 1%;
    width:96% ;
    display: grid;
    background-color:rgb(248, 248, 248);
    height: 40vh;
    z-index: 10;
    border-radius: 10px
}

.text-pres-notch p{
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.img-minecraft-jeb{
    display: grid;
    margin: 2% 2% 2% 2%;
    background-image: url(GettyImages-167303854-5c8c133fc9e77c0001ff0a87.png);
    width:96% ;
    height: 40vh;
    z-index: 1;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.img-minecraft-jeb span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: xx-large;
    font-weight: 800;

}

.img-minecraft-jeb:hover span{
    color: wheat;
    cursor: pointer;
}


.text-pres-jeb{
    display: grid;
    padding: 1%;
    margin: 1%;
    width:96% ;
    background-color:rgb(248, 248, 248);
    height: 40vh;
    z-index: 10;
    border-radius: 10px
}

.text-pres-jeb p{
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* fin Home */
/* footer */
footer{
    display: grid;
    padding: 1%;
    width: 98%;
    height: calc(100% + 10px);
    background-color: rgb(240, 240, 240);
}


.contact{
    margin: 2%;
    display:flex;
    background-color: rgb(255, 255, 255);
    width:96% ;
    height: 70vh;
    border-radius:10px ;
    justify-content: space-between;
    align-items: center;
}

.liens{
    display: flex;
    margin: 1%;
    background-color:rgba(255, 255, 255, 0.8);
    justify-content:center;
    align-items: center ;
    width:40% ;
    height: 50vh;
    z-index: 10;
    border-radius: 20px;
    list-style: none;
    overflow:hidden;
}

.social{
    display: flex;
    margin: 2% 2% 2% 2%;
    background-color:rgb(255, 255, 255);
    opacity: 1px;
    justify-content:start;
    align-items: center ;
    width:30% ;
    height: 50vh;
    z-index: 10;
    border-radius: 20px;
    list-style: none;
}
.banal{
    font-size: larger;
    font-weight: 700;
}

.perso:hover{
    color: green;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.credit{
    display: flex;
    align-items: center;
    background-color:rgb(255, 255, 255);
    width:80% ;
    height: 50vh;
    z-index: 10;
}


.img3{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(esrb_2021.svg);
    width:90%;
    height:100%;
    background-color:rgb(255, 255, 255);

}
/* fin footer */
/* fin Home */
/* Debut craft */

.craft-span{
    margin-top: 1%;
    color: white;
    margin-bottom: 1%;
    display: grid;
    width: 100%;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.recherche{
    display: block;
    padding: 1%;
    width: 98%;
}

.recherche h1{
    text-align: center;
    color: white;
}

.recherche-result{
    width: 100%;
    justify-content: center;
    align-items: center;
}
    
    
.result{
    display: grid;
    padding: 1%;
    border: solid 3px rgb(0, 0, 0);
}
    
/* il faut que je fasse en sorte que une certaines catégories d'image aille au centre*/
.item{
    max-width: 98%;
    max-height: 400px;
    padding-bottom: 10px;
    align-items: center;
    margin: 1%;
}
    
    
.corps .recherche input{
    height: 110%;
    width: 97%;
    border: solid 3px rgb(0, 0, 0);
    padding: 1%;
}
    
.alt-res{
    width: 97%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.alt-res li{
    font-weight: 800;
}
    
.alt-res li:hover{
    cursor:pointer;
    color:rgb(81, 200, 81);
    transition: color 1s ease ;
}

.image-select{
    display:flex;
    flex-direction: column;
}
.image-select img{
    padding-top: 1%;
}

.span-jeb{
    display: flex;
}

.afficheJeb{
    background-image: url(jeb.png);
    background-size: contain;
    background-color: green;
}

.span-notch{
    display: flex;
}

.afficheNotch{
    background-color: green;
    background-image: url(notch.png);  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    position: fixed;
    bottom: 23px;
    right: 23px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 9999;
    opacity: 0.5;
    pointer-events: none;
    scale: 1;
}

button:hover {
    background-color: #f09cff;
    scale: 1.05;
    border-top-right-radius: 1px;
    transition: all 0.3s ease-in-out;
}

button.visible {
    opacity: 1;
    pointer-events: auto;
}

button.hidden {
    display: none;
}


button.animated {
    transform: translateY(0);
    transition:transform 0.5s ease;
}
      

@media screen and (max-width: 900px) { 
    /* Toujours la nav bar */
    .navbar {
        padding:0;
    }
    
    .navbar .menu-hamburger{
        display: block;
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.21);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-left: 0;
    }  

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .navbar .logo {
        position: absolute;
        top: 1em;
        left: 1em;
    }

    .navbar a {
        color: rgb(0, 0, 0);
    }
}