*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Poppins';
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(Poopkémon\ \(2\).png);
    background-size: cover;
}


.navbar{
    position: absolute;
    padding: 20px 10px 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(69, 69, 69, 0.8);
    opacity: 1.0;
    backdrop-filter: blur(2px);
    opacity: 1;
}

.navbar a {
    color: rgb(255, 255, 255);
}

.navbar .logo img{
    image-rendering: optimizeQuality;
    width: 40%;
    height: 40%;
    
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;

}

.navbar .nav-links ul li {
    margin: 30px;
    font-size: 1.6em;
    font-weight: 600;

}


.navbar .nav-links ul li a:hover{
    text-decoration: underline;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

.active{
    border-top: solid 2px rgb(255, 255, 255);
}


.image-pres{
    display: flex;
    width: 100%;
    height: 10vh;
    /* background-image:url(Poopkémon.png); */
    background-size: cover;

}
.images-container {
    display: flex; /* Utilisation de flexbox pour aligner les images horizontalement */
}

.image {
    width: 300px; /* Ajustez la largeur des images selon vos besoins */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    margin-right: 10px; /* Espacement entre les images */
}


@media screen and (max-width:802px) {
    .navbar{
        padding: 0;
    }

    .navbar .logo{
        position: absolute;
        top: 50px;
        left: 50px;
        background-image: url(.png);

    } 

    .navbar .menu-hamburger {
        display: block;
        
    }


    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255,0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 2s ease;
    }

    .nav-links .mobile-menu{
        margin-left: 0;
    }


    .nav-links ul {
        position: absolute;
        flex-direction: column;
        align-items: right;
    }  

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;


}

.row .col50 h2{
    margin-bottom: 20px;

}

.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;

}


img {
    width : 290px;
    height : 500px;
}

.menu-hamburger{
    width: 500px;
    height: 500px;
}

.titre-texte span {
    color: green;
    font-size: 1.5em;
    font-weight: 700px;
    
}

.row .col50 img{
    height: 500px;
    width: 600px;
    position: relative;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1 {font-size: 3em;}
h2 {font-size: 2.6em;}
h3 {font-size: 2.2em;}
h4 {font-size: 1.8em;}
h5 {font-size: 1.4em;}
h6 {font-size: 1.0em;}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 4px;
	
}
p{ margin: 10px 0;}

input[type="text"] {
	font-family: 'popkémon';
	font-size: 1em;
	border: 2px solid #404040;
	background: #8B8B8B;
	padding: 2px;
}

.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}



.grid, .grid-large {
	float: left;
	display: block;
	text-align: center !important;
	background-color: #8B8B8B;
	border: 2px solid #373737;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	vertical-align: middle;
}



